nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 25px;
  padding: 5px;
}
nav li a {
  text-decoration: none;
  color: yellowgreen;
}
nav li:hover {
  background-color: blanchedalmond;
}
/* nested menu style */
nav li .dropdown {
  display: none;
  position: absolute;
  background-color: lightyellow;
  padding-left: 10px;
}
nav li:hover .dropdown {
  display: block;
}
